/* 
Bootplate BODY.css
CSS For Elements to be loaded asynchronously using loadCSS.js.
Elements here should ONLY be used/viewable below the fold.
*/

/* == ICONS == */
@font-face {
  font-family: 'bootplate';
  src: url('../fonts/bootplate.eot?24889128');
  src: url('../fonts/bootplate.eot?24889128#iefix') format('embedded-opentype'),
       url('../fonts/bootplate.woff2?24889128') format('woff2'),
       url('../fonts/bootplate.woff?24889128') format('woff'),
       url('../fonts/bootplate.ttf?24889128') format('truetype'),
       url('../fonts/bootplate.svg?24889128#bootplate') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bp-"]:before, [class*=" bp-"]:before, .glyphicon:before, .links-social a:before {
  font-family: "bootplate";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bp-heart:before { content: '\e800'; } 
.bp-heart-empty:before { content: '\e801'; } 
.bp-ok:before { content: '\e802'; } 
.bp-cancel:before { content: '\e803'; } 
.bp-info:before { content: '\e804'; } 
.bp-help:before { content: '\e805'; } 
.bp-download:before { content: '\e806'; } 
.bp-download-cloud:before { content: '\e807'; } 
.bp-share:before { content: '\e808'; } 
.bp-location:before { content: '\e809'; } 
.bp-attention-alt:before { content: '\e80a'; } 
.bp-down-open:before { content: '\e80b'; } 
.bp-left-open:before { content: '\e80c'; } 
.bp-right-open:before { content: '\e80d'; } 
.bp-up-open:before { content: '\e80e'; } 
.bp-paper-plane:before { content: '\e80f'; } 
.bp-rocket:before, .glyphicon-edit:before { content: '\e810'; } 
.bp-off:before, .glyphicon-fullscreen:before { content: '\e811'; } 
.bp-lifebuoy:before { content: '\e812'; } 
.bp-trash:before, .glyphicon-eye-close:before { content: '\e813'; } 
.bp-attention:before { content: '\e814'; }
.bp-mail:before { content: '\e815'; } 
.bp-paypal:before, .links-social a[href*="paypal.com"]:before { content: '\e816'; } 
.bp-gplus:before, .links-social a[href*="google.com"]:before { content: '\e817'; } 
.bp-pinterest:before, .links-social a[href*="pintrest.com"]:before { content: '\e818'; } 
.bp-call:before { content: '\e819'; } 
.bp-dribbble:before, .links-social a[href*="dribbble.com"]:before { content: '\e81a'; } 
.bp-email:before { content: '\e81b'; } 
.bp-vimeo:before, .links-social a[href*="vimeo.com"]:before { content: '\e81c'; } 
.bp-youtube:before, .links-social a[href*="youtube.com"]:before { content: '\e81d'; } 
.bp-twitter:before, .links-social a[href*="twitter.com"]:before { content: '\e81e'; } 
.bp-rss:before { content: '\e81f'; } 
.bp-skype:before, .links-social a[href*="skype.com"]:before { content: '\e820'; } 
.bp-linkedin:before, .links-social a[href*="linkedin.com"]:before { content: '\e821'; } 
.bp-github-circled:before, .links-social a[href*="github.com"]:before { content: '\e822'; } 
.bp-wordpress:before, .links-social a[href*="wordpress.com"]:before, .links-social a[href*="wordpress.org"]:before { content: '\e823'; } 
.bp-facebook:before, .links-social a[href*="facebook.com"]:before { content: '\e824'; } 
.bp-vimeo-1:before { content: '\e825'; } 
.bp-instagram-filled:before, .links-social a[href*="instagram.com"]:before { content: '\e826'; } 
.bp-github:before { content: '\e827'; } 
.bp-search:before { content: '\e828'; } 
.bp-logout:before, .glyphicon-log-out:before { content: '\e829'; } 
.bp-lock:before { content: '\e82a'; } 
.bp-link:before { content: '\e82b'; } 
.bp-attach:before { content: '\e82c'; } 
.bp-cog:before, .glyphicon-cog:before { content: '\e82d'; } 

/*
   Animation example, for spinners
*/
.animate-spin { -moz-animation: spin 2s infinite linear;  -o-animation: spin 2s infinite linear;  -webkit-animation: spin 2s infinite linear;  animation: spin 2s infinite linear;  display: inline-block;}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  -webkit-transform: rotate(0deg); transform: rotate(0deg);  }
  100% { -moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg);  transform: rotate(359deg);  }
}
@-webkit-keyframes spin {
  0% {-moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  -webkit-transform: rotate(0deg);  transform: rotate(0deg);  }
  100% {-moz-transform: rotate(359deg);  -o-transform: rotate(359deg);  -webkit-transform: rotate(359deg);  transform: rotate(359deg);  }
}
@-o-keyframes spin {
  0% {-moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  -webkit-transform: rotate(0deg);    transform: rotate(0deg);  }
  100% {-moz-transform: rotate(359deg); -o-transform: rotate(359deg);  -webkit-transform: rotate(359deg);  transform: rotate(359deg);  }
}
@-ms-keyframes spin {
  0% {-moz-transform: rotate(0deg); -o-transform: rotate(0deg);  -webkit-transform: rotate(0deg); transform: rotate(0deg);  }
  100% {-moz-transform: rotate(359deg); -o-transform: rotate(359deg);  -webkit-transform: rotate(359deg); transform: rotate(359deg);  }
}
@keyframes spin {
  0% {-moz-transform: rotate(0deg);  -o-transform: rotate(0deg);  -webkit-transform: rotate(0deg);  transform: rotate(0deg);  }
  100% {-moz-transform: rotate(359deg);  -o-transform: rotate(359deg);  -webkit-transform: rotate(359deg);  transform: rotate(359deg);  }
}


/* == BODY ELEMENTS == */
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {color: #23527c;  background-color: #eee;  border-color: #ddd;}
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {  color: #fff;  background-color: #337ab7;  border-color: #337ab7;}
.pagination > .disabled > span,.pagination > .disabled > span:hover,.pagination > .disabled > span:focus,.pagination > .disabled > a,.pagination > .disabled > a:hover,.pagination > .disabled > a:focus {  color: #777;  background-color: #fff;  border-color: #ddd;}
.pager li > a,.pager li > span {  background-color: #222;  border: 1px solid #000; color:#eee; border-radius:6px; min-width:130px;}
.pager li > a:hover,.pager li > a:focus {  background-color: #111;  border: 1px solid #000; color:#fff;}
.pager .disabled > a,.pager .disabled > a:hover,.pager .disabled > a:focus,.pager .disabled > span {color: #777;}
.pager .pager-prev > a, .pager .pager-prev > span{float: left;}
.pager .pager-next > a, .pager .pager-next > span{float: right;}
.comment-navigation .pager li > a{background-color:transparent;  border:none;color:#333; border-radius:0; min-width:15px; font-size:1.2rem;} 
.comment-navigation .pager li > a:hover{background-color:transparent; border:none; color:#000;} 
.comment-navigation .pager .disabled > a, .comment-navigation .pager .disabled > a:hover, .comment-navigation .pager .disabled > a:focus, .comment-navigation .pager .disabled > span {border:none; color:#777;}
.label-default {  background-color: #777;}
.label-default[href]:hover,.label-default[href]:focus {  background-color: #5e5e5e;}
.pagination {  display: inline-block;  padding-left: 0;  margin-top: 1rem;  margin-bottom: 1rem;  border-radius: .25rem;}
.pagination > li {  display: inline;}
.pagination > li > a,.pagination > li > span { position: relative;  float: left;  padding: .5rem .75rem;  margin-left: -1px;  line-height: 1.5;  color: #008bbb;  text-decoration: none;  background-color: #fff;  border: 1px solid #ddd;}
.pagination > li:first-child > a,.pagination > li:first-child > span {  margin-left: 0;  border-top-left-radius: .25rem;  border-bottom-left-radius: .25rem;}
.pagination > li:last-child > a,.pagination > li:last-child > span {  border-top-right-radius: .25rem;  border-bottom-right-radius: .25rem;}
.pagination > li > a:focus,.pagination > li > a:hover,.pagination > li > span:focus,.pagination > li > span:hover {  color: #014c8c;  background-color: #eceeef;  border-color: #ddd;}
.pagination > .active > a,.pagination > .active > a:focus,.pagination > .active > a:hover,.pagination > .active > span,.pagination > .active > span:focus,.pagination > .active > span:hover {  z-index: 2;  color: #fff;  cursor: default;  background-color: #008bbb;  border-color: #008bbb;}
.pagination > .disabled > span,.pagination > .disabled > span:focus,.pagination > .disabled > span:hover,.pagination > .disabled > a,.pagination > .disabled > a:focus,.pagination > .disabled > a:hover {  color: #818a91;  cursor: not-allowed;  background-color: #fff;  border-color: #ddd;}
.sidebar ul.menu{opacity:1; transition:opacity ease-in 0.3s;}
.sidebar ul.menu li{}
.sidebar ul.menu li:first-child a{border-top-right-radius: 4px;  border-top-left-radius: 4px;}
.sidebar ul.menu li:last-child a{margin-bottom: 0;  border-bottom-right-radius: 4px;  border-bottom-left-radius: 4px;}
.sidebar ul.menu li a{position: relative;  display: block;color: #555555; background-color: #ffffff;  border: 1px solid #dddddd; padding: 10px 15px;  margin-bottom: -1px;}
.sidebar ul.menu li a:hover, .sidebar ul.menu li a:focus{text-decoration: none; color: #555555; background-color: #f5f5f5;}
.sidebar ul.menu li.current-menu-item a, .sidebar ul.menu li.current-menu-item a:hover, .sidebar ul.menu li.current-menu-item a:focus{color: #fff;}
.sidebar .widget_recent_entries{opacity:1;transition:opacity ease-in 0.3s;}
.widget_recent_entries ul{list-style:none; padding-left:0;}
.widget_recent_entries ul li a{display:block;}
.widget_recent_entries .post-date{display:block; color:#777; font-size:0.8em; margin-bottom:8px;}
footer .widget_recent_entries ul li a{}

/* Form Styles */
.checkbox label, .checkbox-inline, .radio label, .radio-inline{padding-left:1.8rem;}
.no-cssremunit .checkbox label, .no-cssremunit .radio label{padding-left:16px;}
.c-indicator{width: 1.2rem; height: 1.2rem;}
.no-cssremunit .c-indicator{width: 1.2em; height: 1.2em;}
.form-group{margin-bottom:1.8rem;}
.no-cssremunit .form-group{margin-bottom:30px;}
.col-radios .c-radio{margin-bottom:10px;}
input[type="number"] {-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;    margin: 0;}
.c-darker .c-indicator{background-color: #ccc;}
/* CSS-only Arrows */
.arrow-up {	width: 0;	height: 0; 	border-left: 15px solid transparent;	border-right: 15px solid transparent;	border-bottom: 15px solid #000;}
.arrow-down {	width: 0; 	height: 0; 	border-left: 15px solid transparent;	border-right: 15px solid transparent;	border-top: 15px solid #000;}
.arrow-right {	width: 0; 	height: 0; 	border-top: 15px solid transparent;	border-bottom: 15px solid transparent;	border-left: 15px solid #000;}
.arrow-left {	width: 0; 	height: 0; 	border-top: 15px solid transparent;	border-bottom: 15px solid transparent; 	border-right:15px solid #000; }
.jumbotron .arrow-up {	width: 0;	height: 0; 	border-left: 15px solid transparent;	border-right: 15px solid transparent;	border-bottom: 15px solid #fff;}
.jumbotron .arrow-down {	width: 0; 	height: 0; 	border-left: 15px solid transparent;	border-right: 15px solid transparent;	border-top: 15px solid #fff;}
.jumbotron .arrow-right {	width: 0; 	height: 0; 	border-top: 15px solid transparent;	border-bottom: 15px solid transparent;	border-left: 15px solid #fff;}
.jumbotron .arrow-left {	width: 0; 	height: 0; 	border-top: 15px solid transparent;	border-bottom: 15px solid transparent; 	border-right:15px solid #fff; }
/* Submitting Buttons */
button[type=submit],input[type=submit], button, input#submit{
    -webkit-transition:.1s background-color;
    -moz-transition:.1s background-color;
    -o-transition:.1s background-color;
    transition:.1s background-color;
}
button[type=submit].processing,input[type=submit].processing, button.processing, input.submit.processing, input#submit.processing {
  background-color: #2E740A;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}
button[type=submit].processing,input[type=submit].processing, button.processing, input.submit.processing, input#submit.processing {
  -webkit-animation: progress-bar-stripes 0.3s linear infinite;
     -moz-animation: progress-bar-stripes 0.3s linear infinite;
      -ms-animation: progress-bar-stripes 0.3s linear infinite;
       -o-animation: progress-bar-stripes 0.3s linear infinite;
          animation: progress-bar-stripes 0.3s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
  from {background-position: 40px 0;}
  to {background-position: 0 0;}
}
@-moz-keyframes progress-bar-stripes {
  from {background-position: 40px 0;}
  to {background-position: 0 0;}
}
@-ms-keyframes progress-bar-stripes {
  from {background-position: 40px 0;}
  to {background-position: 0 0;}
}
@-o-keyframes progress-bar-stripes {
  from {background-position: 0 0; }
  to { background-position: 40px 0;}
}
@keyframes progress-bar-stripes {
  from {background-position: 40px 0;}
  to {background-position: 0 0;}
}
/* END Submitting Buttons */
.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td {border-top: 1px solid #ddd;}
.table > thead > tr > th{border-bottom: 2px solid #ddd;}
.table > tbody + tbody{border-top: 2px solid #ddd;}
.table-bordered {border: 1px solid #ddd;}
.table-bordered > thead > tr > th,.table-bordered > tbody > tr > th,.table-bordered > tfoot > tr > th,.table-bordered > thead > tr > td,.table-bordered > tbody > tr > td,.table-bordered > tfoot > tr > td {  border: 1px solid #ddd;}
.table-striped > tbody > tr:nth-of-type(odd) {background-color: #f9f9f9;}
.table-hover > tbody > tr:hover {background-color: #f5f5f5;}
.table > thead > tr > td.active,.table > tbody > tr > td.active,.table > tfoot > tr > td.active,.table > thead > tr > th.active,.table > tbody > tr > th.active,.table > tfoot > tr > th.active,.table > thead > tr.active > td,.table > tbody > tr.active > td,.table > tfoot > tr.active > td,.table > thead > tr.active > th,.table > tbody > tr.active > th,.table > tfoot > tr.active > th {  background-color: #f5f5f5;}
.table-hover > tbody > tr > td.active:hover,.table-hover > tbody > tr > th.active:hover,.table-hover > tbody > tr.active:hover > td,.table-hover > tbody > tr:hover > .active,.table-hover > tbody > tr.active:hover > th {  background-color: #e8e8e8;}
.form-control{
	color: #555; background-color: #fff;
	border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .055);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .055);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .3);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .3);
}
.navbar-form {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
.form-control::-moz-placeholder {  color: #999;  opacity: 1;}
.form-control:-ms-input-placeholder {  color: #999;}
.form-control::-webkit-input-placeholder {  color: #999;}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {  background-color: #eee;  opacity: 1;}
.alignleft {float: left;margin: 8px 20px 20px 0;}
.alignright {float: right;margin: 8px 0 20px 20px;}
.aligncenter {float:none;clear: both;display: block;margin: 20px 0;width:100%; height:auto;}
.wp-caption {background:#f2f2f2;	border: none;	color: #555;	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;	margin: 0 0 20px 0;	max-width: 100%;	padding:8px 8px 3px;	text-align: inherit; line-height:2;}
.wp-caption.alignleft {	margin: 8px 20px 20px 0;}
.wp-caption.alignright {	margin: 8px 0 20px 20px;}
.wp-caption.aligncenter {	margin: 8px auto;}
.wp-caption .wp-caption-text,.wp-caption-dd {font-size: 14px;	line-height: 1.5;	padding: 8px 0;}
/* == Bootstrap Cards (v4) == */
.card{position: relative;  margin-bottom: 30px;  border-radius: 6px; background-color:#F8F8F8; border: 1px solid #eee;}
.bg-default .card{background-color:#fff; border: 1px solid #ccc;}
.card-header{background-color:#333; color:#ddd;}
.card-header a{color:#eee;}
.card-header a:hover{color:#fff;}
.card-title small{display:block; color:#888;}
.vcenter {white-space:nowrap;}
.card-block {  padding: 15px;}
.card-title {  margin-top: 0;  margin-bottom: .75rem;}
h4.card-title, .h4.card-title{font-size:22px;}
.card-subtitle {  margin-top: -.375rem;  margin-bottom: 0;}
.card-text:last-child {  margin-bottom: 0;}
.card-link:hover {  text-decoration: none;}
.card-link + .card-link {  margin-left: 1.25rem;}
.card > .list-group:first-child .list-group-item:first-child {  border-radius: 6px 6px 0 0;}
.card > .list-group:last-child .list-group-item:last-child {  border-radius: 0 0 6px 6px;}
.card-header {  padding: .75rem 1.25rem;  background-color: #f5f5f5;  border-bottom: .0625rem solid #e5e5e5;}
.card-header:first-child {  border-radius: 6px 6px 0 0;}
.card-footer {  padding: .75rem 1.25rem;  background-color: #f5f5f5;  border-top: .0625rem solid #e5e5e5;}
.card-footer:last-child {  border-radius: 0 0 6px 6px;}
.card-inverse .card-header,.card-inverse .card-footer {  border-bottom: .075rem solid rgba(255, 255, 255, .2);}
.card-inverse .card-header,.card-inverse .card-footer,.card-inverse .card-title,.card-inverse .card-blockquote {  color: #fff;}
.card-inverse .card-link,.card-inverse .card-text,.card-inverse .card-blockquote > footer {  color: rgba(255, 255, 255, .65);}
.card-inverse .card-link:focus,.card-inverse .card-link:hover {  color: #fff;}
.card-blockquote {  padding: 0;  margin-bottom: 0;  border-left: 0;}
.card-img {  border-radius: 6px;}
.card-img-overlay {  position: absolute;  top: 0;  right: 0;  bottom: 0;  left: 0;  padding: 1.25rem;}
.card-img-top {  border-radius: 6px 6px 0 0; /*width:100%; height:auto; max-height:200px; overflow:hidden;*/}
.card-img-bottom {  border-radius: 0 0 6px 6px; width:100%; height:auto; max-height:200px; overflow:hidden;}
.card .imglazy{height:200px; max-height:200px; width:100%; background-color:#eee;border-radius: 6px 6px 0 0; overflow:hidden;}
.card .imglazy img{width:100%; height:auto;text-align:center;}
.card-deck {  display: table;  table-layout: fixed;  border-spacing: 1.25rem 0;}
.card-deck .card {  display: table-cell;  width: 1%;  vertical-align: top;}
.card-deck-wrapper {  margin-right: -1.25rem;  margin-left: -1.25rem;}
.card-group {  display: table;  width: 100%;  table-layout: fixed;}
.card-group .card {  display: table-cell;  vertical-align: top;}
.card-group .card + .card {  margin-left: 0;  border-left: 0;}
.card-group .card:first-child .card-img-top {  border-top-right-radius: 0;}
.card-group .card:first-child .card-img-bottom {  border-bottom-right-radius: 0;}
.card-group .card:last-child .card-img-top {  border-top-left-radius: 0;}
.card-group .card:last-child .card-img-bottom {  border-bottom-left-radius: 0;}
.card-group .card:not(:first-child):not(:last-child) {  border-radius: 0;}
.card-group .card:not(:first-child):not(:last-child) .card-img-top,.card-group .card:not(:first-child):not(:last-child) .card-img-bottom {  border-radius: 0;}
.card-columns {  -webkit-column-count: 3;     -moz-column-count: 3;          column-count: 3;  -webkit-column-gap: 1.25rem;     -moz-column-gap: 1.25rem;          column-gap: 1.25rem;}
.card-columns .card {  display: inline-block;  width: 100%;}
.customer-img{margin-bottom:30px;}
.card-mh-300{min-height:300px;}
.card-mh-200{min-height:200px;}
.card-mh-120{min-height:120px;}
.card-mh-100{min-height:100px;}

/* == COMMENTS == */
.comments-area{margin-top: 2.2rem;}
.comments-area .pingback{/*display:none;*/ margin-bottom:30px;}
.comments-title strong{margin-right:0.3em;}
.comment-form label{font-weight:bold;}
.comment-list .comment{padding:15px; background-color:#f5f5f5; border:1px solid #ccc; color:#333; margin-bottom:30px;}
.comment-list .comment p{margin-bottom:1rem;}
.comment-list .comment .depth-2{background-color:#fff;border:1px solid #ccc;margin-bottom:0;margin-top:15px; margin-left:15px;}
.comment-list .comment .depth-2.even{background-color:#fff;border:1px solid #ccc;}
.comment-list .comment .depth-3{background-color:#f9f9f9;border:1px solid #ccc;margin-bottom:0;margin-top:15px; margin-left:15px;}
.comment-list .comment .depth-3.even{background-color:#f9f9f9;border:1px solid #ccc;}
.comment-list .comment .depth-4{background-color:#f1f1f1;border:1px solid #ccc;margin-bottom:0;margin-top:15px; margin-left:15px;}
.comment-list .comment .depth-4.even{background-color:#f1f1f1;border:1px solid #ccc;}
.comment-meta a, .comment-date{color:#999; font-size:0.8rem;}
.comment-author, .comment-reply-link, .comment-edit-link{font-size:0.8rem;}
.comment-list .vcard img{display:none;}
li.comment, ul.children li.comment{list-style:none;}
cite.fn{ font-style:normal; color:#000; font-weight:bold;}
.comment-list .panel .panel-heading {  padding: 4px 15px;  position: absolute;  border:none;  border-top-right-radius:0px;  top: 1px;}
.comment-list .panel .panel-heading.right {border-right-width: 0px;border-top-left-radius:0px;right: 16px;}
.comment-list .panel .panel-heading .panel-body {padding-top: 6px;}
.comment-list figcaption {word-wrap: break-word; font-size:0.8em;}
.comment-list .comment-post {margin-top: 6px;}
.in-moderation {font-style:italic;}
figure.thumbnail{background-color:#eee; color:#111;}
.comment-edit-link{margin-left:15px;}

/* == PLUGIN STYLES == */

/* Slick.js Styles */
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track::before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
.slick-loading .slick-list{ background: #fff url('../ajax-loader.gif') center center no-repeat;}
.project-details .slick-slide{padding:0 7px;}
@font-face{ font-family: 'slick'; font-weight: normal; font-style: normal;    src: url('../fonts/slick.eot');    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');}
.slick-prev,.slick-next{  display: none;   font-size: 0;    line-height: 0;    position: absolute;    top: 50%;    width: 20px;    height: 20px;    margin-top: -10px;    padding: 0;    cursor: pointer;    color: transparent;    border: none;    outline: none;    background: transparent;}
.slick-slider{ margin-bottom: 30px;}
.slick-dots{    position: absolute;    bottom: -45px;    display: block;    width: 100%;    padding: 0;    list-style: none;    text-align: center;}
.slick-dots li{    position: relative;    display: inline-block;    width: 22px;    height: 22px;    margin: 0 5px;    padding: 0;    cursor: pointer;}
.slick-dots li button{    font-size: 0;    line-height: 0;    display: block;    width: 20px;    height: 20px;    padding: 5px;    cursor: pointer;    color: transparent;    border: 0;    outline: none;    background: transparent; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.slick-dots li button:hover,.slick-dots li button:focus{ outline: none;}
.slick-dots li button:hover::before,.slick-dots li button:focus::before{ opacity: 1;}
.slick-dots li button::before{    font-family: 'slick';    font-size: 17px;    line-height: 21px;    position: absolute;    top: 0;    left: 0;    width: 20px;    height: 20px;    content: '•';    text-align: center;    opacity: .25;    color: black;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;}
.slick-dots li.slick-active button{width: 25px;    height: 25px; -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.slick-dots li.slick-active button::before{    opacity: .75;    color: black; font-size: 23px;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.slick-slide{padding-right:1rem;}
.lastchild .slick-slide:last-child{padding-right:0;}
/* END slick */

/* == FOOTER STYLES == */
body footer{opacity:1; background-color:#000; color:#999;padding-top:3rem;  padding-bottom:2rem; -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.no-cssremunit footer{padding-top:60px; padding-bottom:60px;}
footer .widget{background-color:rgba(51,51,51,0.5); padding:15px; margin-bottom:30px;}
#widget-footer {margin-bottom:3rem;}
.no-cssremunit #widget-footer{margin-bottom:40px;}
#socket-footer .list-inline, #socket-footer p{text-align:center;}
footer p{margin-bottom:0;}
footer a{color:#ccc;}
footer a:hover, footer a:focus, footer a:active{color:#fff;}
.links-social a{font-size:18px;}
.links-social a:hover, .links-social a:focus, .links-social a:active{text-decoration:none;}
#bootplate-credit{margin-top:3rem;}
.no-cssremunit #bootplate-credit{margin-top:40px;}
#bootplate-credit p{color:rgba(255,255,255,0.3);}

/* DEMO-ONLY STUFF */
.the-icons {font-size: 18px;line-height: 28px;vertical-align:central; min-height:45px; margin-bottom:8px;}
.the-icons input.form-control{width:60%; display:inline;}
.the-icons input.form-control:focus{border-color:#563D7D; box-shadow:none;}
.demo-icon{font-size:30px; color:#000;}
.demo-icon:hover, .demo-icon:focus {color:#563D7D; cursor:pointer;}
.codesOn .i-name { display: none;}
.codesOn .i-code {display: inline;color:#c7254e;font-family:"Courier New", Courier, monospace;}
.i-code {display: none;}

/* == Extra Small Devices, Phones == */ 
@media only screen and (min-width : 480px) {
	.lf-buttons .btn-group{display:block;}
	.lf-buttons .btn-secondary{margin-right:8px;}
}

/* == Small Devices, Tablets == */
@media only screen and (min-width : 768px) {
	.comment-list .arrow:after, .comment-list .arrow:before {    content: "";    position: absolute;    width: 0;    height: 0;    border-style: solid;    border-color: transparent;}
	.comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {border-left: 0;}
	.comment-list .panel.arrow.left:before {left: 0px;top: 30px;border-right-color: inherit;border-width: 16px;}
	.comment-list .panel.arrow.left:after {left: 1px;top: 31px;border-right-color: #f5f5f5;border-width: 15px;}
	.comment-list .panel.arrow.right:before {right: -16px;top: 30px;border-left-color: inherit;border-width: 16px;}
	.comment-list .panel.arrow.right:after {right: -14px;top: 31px;border-left-color: #f5f5f5;border-width: 15px;}
	#socket-footer .list-inline{text-align:right;}
	#socket-footer p{text-align:left;}
}

/* == Medium Devices, Desktops == */
@media only screen and (min-width : 992px) {
	/* Slick Arrows */
	.slick-prev,.slick-next{    font-size: 0;    line-height: 0;    position: absolute;    top: 50%;    display: block;    width: 30px;    height: 30px;    margin-top: -15px;    padding: 0;    cursor: pointer;    color: transparent;    border: none;    outline: none;    background: transparent;}
	.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{    color: transparent;    outline: none;    background: transparent;}
	.slick-prev:hover::before,.slick-prev:focus::before,.slick-next:hover::before,.slick-next:focus::before{    opacity: 1;}
	.slick-prev.slick-disabled::before,.slick-next.slick-disabled::before{    opacity: .25;}
	.slick-prev::before,.slick-next::before{    font-family: 'slick';    font-size: 30px;    line-height: 1;    opacity: .75;    color:#000;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;}
	.slick-prev{    left: -35px;}
	[dir='rtl'] .slick-prev{    right: -35px;    left: auto;}
	.slick-prev::before{    content: '←';}
	[dir='rtl'] .slick-prev::before{    content: '→';}
	.slick-next{    right: -35px;}
	[dir='rtl'] .slick-next{    right: auto;    left: -35px;}
	.slick-next::before{    content: '→';}
	[dir='rtl'] .slick-next::before{    content: '←';}
}

/* == Extra Large Devices, Wide Screens == */
@media only screen and (min-width : 1200px) {
	/* Slick Arrows */
	.slick-prev,.slick-next{    font-size: 0;    line-height: 0;    position: absolute;    top: 50%;    display: block;    width: 40px;    height: 40px;    margin-top: -20px;    padding: 0;    cursor: pointer;    color: transparent;    border: none;    outline: none;    background: transparent;}
	.slick-prev.slick-disabled::before,.slick-next.slick-disabled::before{    opacity: .25;}
	.slick-prev::before,.slick-next::before{    font-family: 'slick';    font-size: 40px;    line-height: 1;    opacity: .75;    color:#000;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;}
	.slick-prev{    left: -55px;}
	[dir='rtl'] .slick-prev{    right: -55px;    left: auto;}
	.slick-next{    right: -55px;}
	[dir='rtl'] .slick-next{    right: auto;    left: -55px;}
}
